CREATE DATABASE [Bd_Exp_Transportes] ON  PRIMARY 
( NAME = N'Bd_Exp_Transportes', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\Bd_Exp_Transportes.mdf' , SIZE = 3072KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Bd_Exp_Transportes_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\Bd_Exp_Transportes_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'Bd_Exp_Transportes', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bd_Exp_Transportes].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [Bd_Exp_Transportes]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [Bd_Exp_Transportes] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
