<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="scanndoc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="scanndoc.Properties.Settings.Bd_Expedientes_DigitalesConnectionString"
            connectionString="Data Source=xmalmorthen.dyndns.org;Initial Catalog=Bd_Expedientes_Digitales;Persist Security Info=True;User ID=digitaldocs;Password=..121212qw"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <scanndoc.Properties.Settings>
            <setting name="ThumbNailColorDepth" serializeAs="String">
                <value>Depth32Bit</value>
            </setting>
            <setting name="ThumbNailSize" serializeAs="String">
                <value>108, 108</value>
            </setting>
            <setting name="PathRepoImgs" serializeAs="String">
                <value>SwapGallery</value>
            </setting>
            <setting name="ScannFileName" serializeAs="String">
                <value>ScannFile_</value>
            </setting>
            <setting name="KDImageLicenseName" serializeAs="String">
                <value>Quantum Productora de Software (273064285)</value>
            </setting>
            <setting name="KDImageLicenseKey" serializeAs="String">
                <value>6360-8836-5591-7141-5489</value>
            </setting>
            <setting name="Config_IdTramiteporDefault" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CampoPrincipal_RowColorGrid" serializeAs="String">
                <value>NavajoWhite</value>
            </setting>
            <setting name="CampoBloqueado_RowColorGrid" serializeAs="String">
                <value>DarkSalmon</value>
            </setting>
            <setting name="CampoDesbloqueado_RowColorGrid" serializeAs="String">
                <value>Honeydew</value>
            </setting>
            <setting name="CampoPlanBloqueo_RowColorGrid" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="marca_de_gua" serializeAs="String">
                <value>Marca de agua</value>
            </setting>
            <setting name="Bd_Expedientes_DigitalesConnectionStringTemplate"
                serializeAs="String">
                <value>Data Source=xmalmorthen.dyndns.org;Initial Catalog=Bd_Expedientes_Digitales;Persist Security Info=True;User ID=..Bd_Expedientes_Digitales_#user#..;Password=#pass#</value>
            </setting>
        </scanndoc.Properties.Settings>
    </userSettings>
</configuration>