table { border-spacing:0; border:1px solid gray; width:100%;}

table.tablesorter thead tr th 
{
    padding-left: 5px;    
}
table.tablesorter thead tr .header {
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(images/asc.png);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(images/desc.png);
}
table th { width:150px; 
           border:1px outset gray; 
           background-color:#888888; 
           color:White; 
           cursor:pointer;
}
table thead th:hover { background-color:#CACACA; color:Black;}
table td { width:150px; border:1px solid gray;}
.pagedisplay
{
    width: 38px;
    text-align: center;
}
.pager
{
    position:initial !Important;    
}